header{
    background-color: #333;
    padding: 15px;

}
.container{
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}


header .container{
    display: flex;
    justify-content: space-between;
}

header .container nav{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

header .container nav a{
    color: #fafafa;
    font-size: 16px;
    padding: 0 10px;
    text-decoration: none;
}
h1{
    justify-content: center;
    text-align: center;
    font-size: 4em;
    padding-top: 80px;
    color: #fafafa;
    text-transform: uppercase;
}
h2{
    justify-content: center;
    text-align: center;
    font-size: 1.4em;
    color: #fafafa;
    font-style: italic;
}
h3{
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    margin: 50px;
    font-weight: bold;
    color: #333;

}
h4{
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    margin: 20px;
    font-weight: bold;
    color: #333;
}
#sec_1{
    background: url("../img/bg-intro.jpg");
    height: 450px;
    width: 100%;
}
#sec_1 p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4em;
    color: #fafafa;
}
#sec_2{
    background-color: #fafafa;
}
#mae{
    display: flex;
    justify-content: center;
}
.cafes{
    display: inline-flex;
    padding: 5px;
    position: relative;
}
.cafes p{
    background-color: black;
    position: absolute;
    bottom: -10px;
    color: #fafafa;
    width: 220px;
    height: 30px;
    font-size: 1.2em;
    text-align: center;
    font-style: italic;
}
#descricao{
    justify-content: center;
    width: 350px;
    padding-top: 80px;
}
#descricao p{
    text-align: center;
    font-size: 1.0em;
    color: #333;
    font-style: italic;
}

#sec_3{
    background-color: lightgoldenrodyellow;
    height: 600px;
}

#botao{
    margin-top: 20px;
    padding-top: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
    border: #333 solid;
    border-width: 2px;
    
}
#botao a{
    text-decoration: none;
    color: #333;

}

#tipos{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}
.infos{
    width: 200px;
    justify-content: center;
}

#paulista{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carioca{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mineiro{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bolinha{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: #fafafa solid;
    
    
}

#sec_4{
    background-color: #fafafa;
}
#filiais{
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
 }
 .maeFiliais{
    display:flex;
    padding: 20px 0; 
 }
 
 .maeFiliais img{
    width:400px;
    height:250px;
 }
 .maeFiliais div{
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.maeFiliais div p{
    color: #333;
}
.maeFiliais #botao{
    width: 100px;
    height: 30px;
    padding: 5px;
     
}

h5{
    font-size: 2em;
    font-weight: 300;
    color: #333;

}
#sec_5{
    background-color: lightgoldenrodyellow;
}
#assinar{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#assinar p{
    font-style: italic;
    font-size: 1em;
}
#assinar input{


    border: #333 solid;
    margin: 0;
    width: 300px;
    height: 30px;
    color: #333;
}
#assinar #submit{
    
    border: none;
    background-color: #333;
    color: #fafafa;
    width: 100px;
    height: 40px;
    padding: 0;
}
footer{
    background-color: #333;
}
#rodape{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
#rodape p{
    color: #fafafa;
}